@page "/"

<DateWheelSelect SelectionLines="false" MaxYear="DateTime.Now.AddYears(40)" MinYear="DateTime.Now.AddYears(-40)" WheelLevel="2" Dense="true" @bind-Value="SelectedDate">
    </DateWheelSelect>
    <p>Selected Date : @SelectedDate.ToString("dd-MM-yyyy")</p>

    <WheelSelect @bind-Value="_selectedCity" Style="width:50%" Dense="true" T="string" Items="Items">
        <ItemTemplate Context="test">
            <div style="display:flex;flex-direction:row;align-items:center;justify-content:center;width:100%">
                @test
            </div>
        </ItemTemplate>
    </WheelSelect>
    @code
{
        DateTime SelectedDate = DateTime.Now;
        public List<string> Items = new List<string>() { "Paris", "Rome", "London", "Berlin", "Madrid" };
        private string _selectedCity = "Paris";
    }
    <style>
        .html {
            background-color: #373740
        }
    </style>
